<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Notice-->

    <!--end::Notice-->
    <!--begin::Card-->
    <div class="card card-custom gutter-b example example-compact card-fit card-border" id="card_search">
      <div class="card-body">
        <!--begin: Search Form-->
        <form class="form mb-2" id="service_search_form" novalidate="novalidate">
          <div class="row mb-2">
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>접수번호</label>
              <div class="input-icon">
                <input type="text" class="form-control datatable-input" placeholder="" data-col-index="0"/>
                <span><i class="la la-info-circle"></i></span>
              </div>
            </div>
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>민원인</label>
              <div class="input-icon">
                <input type="text" class="form-control datatable-input" name="reg_nam" placeholder=""
                       data-col-index="1"/>
                <span><i class="la la-user"></i></span>
              </div>
            </div>
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>접수내용</label>
              <select class="form-control selectpicker datatable-input" title="선택하세요" data-col-index="2">
                <option>단수</option>
                <option>도로 누수</option>
                <option>저수압</option>
                <option>수질</option>
                <option>신규 급수 신청</option>
                <option>앵글밸브 고장</option>
                <option>보호통 누수 및 교체</option>
                <option>계량기 동파</option>
                <option>기타</option>
              </select>
            </div>
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>접수자</label>
              <div class="input-icon">
                <input type="text" class="form-control datatable-input" placeholder="" data-col-index="4"/>
                <span><i class="la la-user"></i></span>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>접수일자</label>
              <div class="input-daterange input-group" id="kt_datepicker">
                <input type="text" class="form-control datatable-input" name="start" placeholder="시작일"
                       data-col-index="5"/>
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-ellipsis-h"></i>
                  </span>
                </div>
                <input type="text" class="form-control datatable-input" name="end" placeholder="종료일"
                       data-col-index="5"/>
              </div>
            </div>
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>진행상태</label>
              <select class="form-control selectpicker datatable-input" title="선택하세요" data-col-index="6">
                <option>처리 중</option>
                <option>완료</option>
              </select>
            </div>
            <div class="col-lg-6 mb-lg-0 mb-6">
              <label>주소 (도로명 또는 지번)</label>
              <div class="input-icon">
                <input type="text" class="form-control datatable-input" placeholder="예: '광복로 65' 또는 '영주동 19-1'"
                       data-col-index="7"/>
                <span><i class="la la-map-marker"></i></span>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary btn-primary--icon" id="kt_search">
                <span>
                  <i class="la la-search"></i><span>검색</span>
                </span>
              </button>&#160;&#160;
              <button type="reset" class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                <span>
                  <i class="la la-close"></i><span>초기화</span>
                </span>
              </button>
            </div>
          </div>
        </form>
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="kt_datatable">
          <thead>
          <tr>
            <th>Record ID</th>
            <th>Order ID</th>
            <th>Country</th>
            <th>Ship City</th>
            <th>Company Agent</th>
            <th>Ship Date</th>
            <th>Status</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
          </thead>
        </table>
        <!--end: Datatable-->
      </div>
      <div class="overlay-layer bg-gray-o-75">
        <div class="spinner spinner-track spinner-primary spinner-lg"></div>
      </div>
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
<!--end::Entry-->
