
<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">

							<!--begin::Container-->
							<div class="container-fluid">

								<!--[html-partial:begin:{"id":"demo5/dist/inc/view/demos/pages/index","page":"index"}]/-->

								<!--[html-partial:begin:{"id":"demo1/dist/inc/view/partials/content/dashboards/demo5","page":"index"}]/-->

								<!--[html-partial:end:{"id":"demo1/dist/inc/view/partials/content/dashboards/demo5","page":"index"}]/-->

								<!--[html-partial:end:{"id":"demo5/dist/inc/view/demos/pages/index","page":"index"}]/-->
							</div>

							<!--end::Container-->
						</div>

						<!--end::Entry-->