//
// scss variables (declared by $ symbol) must be edited within the .scss file itself
//

////////////////////////////////////////////////////////////////

// Bootstrap global defaults: These must be edited within the .scss file itself

// demo5/src/sass/components/_variables.bootstrap.scss:380

// // Font family
//$font-family-base: Poppins, Helvetica, "sans-serif" !default;

// demo5/src/sass/components/_variables.bootstrap.scss:570

//$card-border-color:                 				$gray-200 !default;

// demo5/src/sass/components/_variables.bootstrap.scss:572

//$card-spacer-y: 2rem !default;
//$card-spacer-x: 2.25rem !default;

////////////////////////////////////////////////////////////////

// Metronic global defaults: These must be edited within the .scss file itself

// demo5/src/sass/components/_variables.demo.scss:6

// Theme colors
//$primary:       									#F64E60;
//$primary-hover:    									#EE2D41;
//$primary-light:    									#FFE2E5;
//$primary-inverse:  									#FFFFFF;

// demo5/src/sass/components/_variables.demo.scss:12

// Border Radiues
//$border-radius:            						    .85rem;

////////////////////////////////////////////////////////////////

// demo5/src/sass/layout/_variables.scss:7

//$root-font-size:                                    13px; // custom parameter

// demo5/src/sass/layout/_variables.scss:35

// Header
//$header-config: (
//	// Desktop Mode
//	desktop: (
//		// Default Mode
//		default: (
//			height: 80px,
//			bg-color: $white,
//			border: 1px solid $gray-200
//		),
//
//		// Fixed Mode
//		fixed: (
//			zindex: 97,
//			//height: 80px,
//			height: 60px,
//			transition: all 0.3s ease
//		)
//	),
//
//	// Tablet & Mobile Modes
//	tablet-and-mobile: (
//		// Default Mode
//		default: (
//			height: 55px,
//			bg-color: $white,
//			border: 1px solid $gray-200
//		),
//
//		// Fixed Mode
//		fixed: (
//			zindex: 97,
//			height: 55px
//		)
//	)
//) !default;

////////////////////////////////////////////////////////////////

// demo5/src/sass/layout/_content.scss:34

// // Desktop Mode
//@include media-breakpoint-up(lg) {
//	.content {
//		padding: get($page-spacers, y, desktop) 0;
//	}
//}

.content {
  padding: 0 0;
}

////////////////////////////////////////////////////////////////

// demo5/src/sass/vendors/plugins/_datatables.scss:38

.dataTables_wrapper {
  .dataTable {
    th, td {
      padding: 0.5rem;
    }
  }
}

////////////////////////////////////////////////////////////////

// demo5/src/sass/layout/_header.scss:27

//// Desktop Mode
//@include media-breakpoint-up(lg) {
//  // Base
//  .header {
//    background-color: get($header-config, desktop, default, bg-color);
//  }
//}

.header {
  background-color: #0078D7;
}

////////////////////////////////////////////////////////////////

// views/partials/_header.html

.quick-search-inline {
  font-size: 1rem;
  font-weight: 700;
}

////////////////////////////////////////////////////////////////

// Source reference not found

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  height: calc(1.0em + 1rem + 2px);
  line-height: 1;
}

.bootstrap-select > .dropdown-toggle {
  padding: 0.5rem 1rem;
}

////////////////////////////////////////////////////////////////

// demo5/src/sass/components/_quick-search.scss:18

.input-group-prepend > .input-group-text {
  padding: 0 0.65rem;
}
