////////////////////////////////////////////////////////////////

// Source reference not found

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  //height: calc(1.0em + 1rem + 2px);
  //line-height: 1;
}

////////////////////////////////////////////////////////////////

#card_register {
  .input-group-text {
    border: none;
  }

  .col-form-label {
    padding-right: 0;
  }

  .card-body {
    background: none;
  }

  .card-footer {
    background: none;
  }

  .overlay-layer {
    border-radius: 0.5rem;
    display: none;
  }
}

#card_search {
  .overlay-layer {
    border-radius: 0.5rem;
    display: none;
  }

  // demo5/src/sass/vendors/plugins/_datatables.scss:38

  .dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
    padding: 0.15rem 0.75rem;
  }
}

////////////////////////////////////////////////////////////////

.was-validated .form-control:valid, .form-control.is-valid {
  padding-right: 0;
}
