// Modal

#kt_chat_modal {

  max-width: 300px;

  .card-header {
    font-size: 13px !important;
    min-height: 60px;

    .label {
      vertical-align: text-bottom;
    }
  }

  .card-body {
    font-size: 13px !important;
    padding: 0;

    .table th {
      white-space: nowrap;
      overflow: hidden;
      padding: 0.5rem 0.5rem;
    }

    .table td {
      padding: 0.5rem 0.5rem;
    }
  }

  .card-footer {

    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0.75rem;

    i {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .btn {
      font-size: 13px !important;
      padding: 0.5rem 0.75rem;
    }
  }
}

#kt_photo_modal {

  .card-body {
    padding: 1rem;

    .carousel-inner {
      border-radius: 4px;

      .carousel-item {
        max-height: 65vh;

        img {
          width: 100%;
        }
      }
    }
  }
}

#kt_history_modal {

  .card-body {
    .col-xl-6 {
      display: flex;
      flex-flow: column;
    }

    .col-sm-12 {
      display: flex;
      flex-flow: column;
    }

    //padding: 0 1rem;

    .dataTables_wrapper .dataTable {
      margin: 0 0 0.5rem 0 !important;
    }

    .dataTables_length {
      display: none;
    }

    .table {

      th {
        //white-space: nowrap;
        font-weight: bolder;
        padding: 0.5rem 0.5rem;
      }

      td {
        //white-space: nowrap;
        font-size: small;
        padding: 0.5rem 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
    }

    #kt_history_modal_details {
      flex: auto;
      white-space: pre-wrap;
      justify-content: flex-start;

    }

    .text-muted {
      text-align: center;
    }
  }
}
