.parent {
  background: #edede8;
}

.menu-item {
  a.menu-link {
    i.menu-bullet {
      min-width: 2rem;
      text-align: center;
      display: block;

      img {
        max-height: 1.25rem;
        min-height: 1rem;
      }
    }
  }
}
