////////////////////////////////////////////////////////////////

// Source reference not found

.form-group {
  //margin-top: 1.5rem;
  margin-bottom: 1.0rem;
}

.form-control {
  //height: calc(1.0em + 1rem + 2px);
  //line-height: 1;
}

////////////////////////////////////////////////////////////////

#exampleModal, #exampleModal2 {
  .modal-header {
    padding: 1rem 1rem;
  }

  .modal-body {
    padding: 0 1rem 1rem 1rem;

    .dataTables_filter {
      padding: 1rem 0 0 0;
    }

    .table th,
    .table td {
      padding: 0.5rem 0.1rem;
    }

    #kt_datatable_schedule_ext {
      white-space: pre-wrap;
      justify-content: flex-start;
    }
  }
}

////////////////////////////////////////////////////////////////

#card_register {
  .input-group-text {
    border: none;
  }

  .col-form-label {
    padding-right: 0;
  }

  .card-body {
    background: none;
  }

  .card-footer {
    background: none;
  }

  .overlay-layer {
    border-radius: 0.5rem;
    display: none;
  }
}

////////////////////////////////////////////////////////////////

#card_search_map {
  border-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-color: #0078D7;
  border-width: 0.2rem;

  #search_map_wrapper {
    width: 100%;
    height: 42.5vh;
    position: relative;
    overflow: hidden;
    float: left;
    transition: all 0.5s ease;

    #search_map {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: 0;
      transition: all 0.5s ease;
    }
  }

  .ribbon-target {
    bottom: -0.2rem;
    right: -0.3rem;
    box-shadow: none;
    border-style: solid;
    border-bottom-style: none;
    border-color: #0078D7;
    border-width: 0.2rem;
    padding: 0.5rem;

    .btn {
      padding: 0.5rem 0.5rem;
    }
  }
}

#card_search {
  box-shadow: none;

  .card-body {
    .dataTables_wrapper {
      .row {
        width: auto;
        margin: 0 10px;
      }

      #kt_datatable_btn_group {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }

      .dataTables_pager {
        justify-content: flex-end;
        align-items: flex-end;
      }
    }

    #kt_datatable {
      margin: 0 !important;

      thead {
        th {
          color: #0078D7;
          font-weight: bolder;
          white-space: nowrap;
          padding: 0.5rem 0.5rem 0.25rem 0.5rem;
          border-bottom-color: transparent;
        }

        .filter {
          th {
            padding: 0.25rem 0.5rem 0.5rem 0.5rem;
          }

          .datatable-input {
            font-weight: bolder;
          }
        }

        .bootstrap-select > .dropdown-toggle {
          padding: 0.45rem 1rem;
          border-radius: 0.28rem;
        }

        #yadcf-filter-wrapper--kt_datatable_daterange {
          width: 10.5rem;

          .yadcf-filter-wrapper {
            width: fit-content;

            .yadcf-filter-wrapper-inner {
              border: none;
            }

            .yadcf-filter-range-date {
              border: none;
            }

            .yadcf-filter-range-date-seperator {
              margin: 0;
            }

            input {
              text-align: center;
            }
          }
        }
      }

      td {
        white-space: nowrap;
        padding: 0.4rem;

        .dtr-data {
          white-space: pre-wrap;
          justify-content: flex-start;
        }
      }

      td:first-child {
        padding-left: 0.5rem !important;
      }

      td.dtr-control:before {
        font-size: larger;
        font-weight: bolder;
      }

      .row-selected {
        background-color: #0078D71A;
      }
    }
  }

  .overlay-layer {
    border-radius: 0.5rem;
    display: none;
  }
}

.context-menu-item {
  padding: 0.2em 2.5em !important;
  margin: 0.3rem 0;
}

////////////////////////////////////////////////////////////////

.was-validated .form-control:valid, .form-control.is-valid {
  padding-right: 0;
}

////////////////////////////////////////////////////////////////

// demo5/src/sass/components/_table.scss:46

.table {
  &.table-head-custom {
    thead {
      tr, th {
        color: black !important;
      }
    }
  }
}
