.quick-search-form {
  .input-group-prepend {
    .label-primary::before {
      content: '상수도 시설물';
    }

    // Reserved for SWL search
    //.label-danger::before {
    //  content: '하수도 시설물';
    //}

    .label-info::before {
      content: '주소 및 장소';
    }
  }
}

.topbar-item {
  .nav {
    .topbar-item {
      .dropdown-menu {
        max-height: calc(75vh);
        overflow-y: auto;
        .navi .navi-item .navi-link {
          display: grid;
          text-align: center;
        }
      }
    }
  }
}
